/* Core styles*/
body{
    font-family: sans-serif;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto ;
}
.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;/* 10/16=0.625*/
    color: #797979;
    text-transform: uppercase;
}

.section-title{
    margin-top: 0.32rem;/* 5/16=0.32*/
    font-size: 2.62rem;/* 42/16=2.62*/
    font-weight: 700;
    text-transform: capitalize;
    color:  #212529;
}
.button{
    margin-top: 1.87rem;/*30/16=1.87*/
    border: none;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.87rem;/*14/16=0.87*/
    padding: 1.26rem 2.5rem;/*1)20/16=1.26; 2) 40/16=2.5*/
    cursor:pointer;
    border-radius: 5px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
}
.button:hover{
    background-position: right center;
}

.blur-line{
    display: inline-block;
    margin-left: 0.32rem;/* 5/16=0.32*/
    width: 5rem;/* 80/16=5*/
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: none;
    position:relative;
    top: -2px;
}

.to-uppercase{
    text-transform: uppercase;
}

.clearfix{
    clear: both;
}

/*Main header styles*/

.main-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 /10%);
    z-index: 10;
              
}
.main-header__brand{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img{
    width: 64px;

}

.main-navigation{
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item{
    display: inline-block;
    padding: 0.625rem;/* 10/16=0.64*/

}
.main-navigation a{
    color:  #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;/* 12/16=0.75*/
    font-weight: 500;
}

.main-navigation__item a:hover{
    color: #efb6df;
}

.main-navigation__item.active a{
    color: #efb6df;
}

/*Foooter section styles*/
.footer{
    padding: 100px 0;
    background-color: #021017;
    text-align: center;
    margin-top: 50px;
}

.footer-brand img{
    width: 120px;
}

.footer-nav__items{
    margin-bottom: 50px;
}

.footer-nav__item{
    display: inline-block;
    padding: 0 10px;
}

.footer-nav__item a{
    color: white;
    text-decoration: none;
}

.footer-socials{
    list-style: none;
}

.footer-social{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    border-radius: 36px;
    color: #05364d;
    font-size: 16px;
    margin-right: 12px;
}
.footer-social:hover{
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 0%);
    background-size: 198% auto;
}

.footer-social:hover i{
    color: #ffffff;
}

.footer-social a{
    color: #021017;
}
.footer-text{
    color:  #797979;
}

@media only screen and (max-width:767px){
    .container{
        width:96%;
    }

    /*navigation*/
    .main-navigation{
        display: none;
    }
    /*footer*/
    .footer-nav{
        display: none;
    }
}